<html xmlns:th="http://www.thymeleaf.org">

<table>
    <thead>
    <tr style="text-align: center; color: red">
        <th style="padding: 10px"> ID </th>
        <th style="padding: 10px"> First Name </th>
        <th style="padding: 10px"> Last Name </th>
        <th style="padding: 10px"> Birthday </th>
        <th style="padding: 10px"> Action </th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:if="${students.empty}">-->
<!--        <td colspan="2"> No Books Available </td>-->
<!--    </tr>-->
    <tr th:each="std : ${students}">
        <td><span th:text="${std.id}"></span></td>
        <td><span th:text="${std.firstName}"></span></td>
        <td><span th:text="${std.lastName}"></span></td>
        <td><span th:text="${std.birthday}"></span></td>
        <td>
            <a th:href="@{/updateForm(studentId=${std.id})}">Edit</a>
            <form th:id="deleteForm" th:object="${std}" th:action="@{/delete/{id}(id=${std.id})}" th:method="delete">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/create}">Create</a>

<script>
    document.getElementById('deleteForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the form from submitting immediately
        const confirmed = confirm("Are you sure you want to delete this item?");
        if (confirmed) {
            this.submit();  // If the user confirms, continue with form submission
        } else {
            alert('Deletion cancelled.');  // Optional: Alert the user that deletion was cancelled
        }
    });
</script>